<app-superior-navbar></app-superior-navbar>
<app-left-side-bar></app-left-side-bar>

<div class="tab-container">
  <div class="d-flex justify-content-between main-console-container">
    <div class="flex-grow-1">
      <div class="nav-bar-console d-flex">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle rounded-0 d-flex align-items-center" type="button" aria-expanded="false">
            <span class="icon-wrapper"><i class="bi bi-plus"></i></span>
            <span class="text-wrapper">Add New KPI</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        <div class="search-container d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <input class="form-control rounded-0" type="search" placeholder="Search" aria-label="Buscar" id="searchDropdown">
          <i class="bi bi-search search-icon"></i>
        </div>
      </div>
      
      
      
      <div class="container-fluid border shadow">
        <ul class="nav nav-tabs my-tabs">
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'objectives'" (click)="setActiveTab('objectives')">Objectives</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'perspectives'" (click)="setActiveTab('perspectives')">Perspectives</a>
          </li>
        </ul>
        
        <div *ngIf="activeTab === 'perspectives'">
          <app-perspectives [perspectives]="data?.perspectives"></app-perspectives>
        </div>
        
        <div *ngIf="activeTab === 'objectives'">
          <app-objectives [objectives]="data?.objectives"></app-objectives>
        </div>
      </div>
      
    </div>
    <app-right-side-bar></app-right-side-bar>
  </div>
</div>