<div class="main-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand ps-3" href="#">Jones Arc.</a>
        <div class="navbar-actions ml-auto d-flex align-items-center">
            <div class="dropdown mr-3">
                <div class="search-container d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-caret-down-fill arrow-icon"></i>
                    <input class="form-control rounded-0" type="search" placeholder="Search projects, clients, staff and more" aria-label="Buscar" id="searchDropdown">
                    <i class="bi bi-search search-icon"></i>
                </div>
                <div class="dropdown-menu" aria-labelledby="searchDropdown">
                    <a class="dropdown-item" href="#">Resultado 1</a>
                    <a class="dropdown-item" href="#">Resultado 2</a>
                </div>
            </div>
            <span class="navbar-text mr-3">
                <i class="bi bi-plus-circle add-icon"></i>
            </span>
            <span class="navbar-text mr-3">
                <i class="bi bi-clock clock-icon"></i>
            </span>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../../assets/FotoUser.webp" alt="user" class="rounded-0" style="width: 30px; height: 30px;"> Matilda
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Perfil</a>
                    <a class="dropdown-item" href="#">Configuración</a>
                    <a class="dropdown-item" href="#">Cerrar sesión</a>
                </div>
            </div>
            <span><i class="bi bi-question-circle question-icon"></i></span>
        </div>
    </nav>
    <ul class="nav my-tabs">
        <li class="nav-item">
            <span class="nav-link">BALANCE COMPANY SCORE ></span>
        </li>
        <li class="nav-item">
            <span class="nav-link active">Strategy Maps</span>
        </li>
        <li class="nav-item">
            <span class="nav-link">KPI</span>
        </li>
    </ul>
</div>   


<div class="title-container shadow">
    <h2 class="mb-0">STM 2019</h2>
</div>



  
  