  <div class="row">
    <nav class="col-md-1 d-none d-md-block">
      <div class="icon-side-bar">F.</div>
      <ul class="nav">
        <li class="nav-item">
          <span class="nav-link"><i class="bi bi-building-fill"></i></span>
        </li>
        <li class="nav-item">
          <span class="nav-link"><i class="bi bi-bar-chart-line-fill"></i></span>
        </li>
        <li class="nav-item">
          <span class="nav-link"><i class="bi bi-pencil-fill"></i></span>
        </li>
        <li class="nav-item">
          <span class="nav-link"><i class="bi bi-folder-fill"></i></span>
        </li>
        <li class="nav-item">
          <span class="nav-link"><i class="bi bi-clock-fill"></i></span>
        </li>
        <li class="nav-item">
          <span class="nav-link"><i class="bi bi-graph-up"></i></span>
        </li>
        <li class="nav-item">
          <span class="nav-link"><i class="bi bi-speedometer"></i></span>
        </li>
      </ul>
    </nav>
  </div>
